/* =====================
   GLOBAL RESET
===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(246, 244, 244);
}

/* =====================
   HEADER
===================== */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0px;
  height: 80px;
}

.images {
  height: 80px;
  width: 80px;
  object-fit: contain;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.btn {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  color: #ff3f6c;
}

/* =====================
   SEARCH BAR
===================== */
.searchbar {
  outline: none;
  width: 400px;
  height: 40px;
  padding: 0 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f6;
  color: #696e79;
}

/* =====================
   HEADER OPTIONS
===================== */

.options {
  display: flex;
  align-items: center;
  gap: 15px;
}

.opt {
  border: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
}

.sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  width: 20px;
  height: 20px;
}

/* Filter popup styling */
.popup {
  position: absolute;
  top: 60px; /* adjust based on header */
  right: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 15px;
  width: 200px;
  display: none; /* initially hidden */
  z-index: 100;
  border-radius: 5px;
}

.popup p {
  font-weight: bold;
  margin-bottom: 10px;
}

.popup label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.popup button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #333;
  background-color: #fff;
  border-radius: 3px;
}

/* =====================
  Home 
===================== */
.posters {
  padding: 20px 50px;
  background-color: #fff;
}

.first-poster {
  max-width: 100%;
}

.second-poster {
  display: flex;
  max-width: 100%;
}

.second-poster img {
  width: 50%;
  height: 400px;
}

/* =====================
   MAIN CONTENT
===================== */
.main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 40px;
}

/* =====================
   CARD
===================== */
.card {
  width: 220px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h2 {
  font-size: 16px;
  margin: 5px 0;
}

.card h1 {
  font-size: 18px;
  color: #ff3f6c;
}

.card div {
  padding: 10px;
  text-align: center;
}

.card-details{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* =====================
   Footer
===================== */

.footer {
  background-color: #fafbfc;
  padding: 40px 60px;
  border-top: 1px solid #eaeaea;
  font-size: 14px;
  color: #696b79;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-section h4 {
  font-size: 13px;
  color: #282c3f;
  margin-bottom: 12px;
}

.footer-section p {
  margin: 6px 0;
  cursor: pointer;
}

.footer-section p:hover {
  text-decoration: underline;
}

.store-buttons img {
  width: 140px;
  margin-right: 10px;
  cursor: pointer;
}

.social-icons {
  margin-top: 15px;
}

.social-icons img {
  margin-right: 15px;
  cursor: pointer;
}

.footer-bottom {
  margin-top: 30px;
  text-align: center;
  font-size: 13px;
  color: #94969f;
}
